{{! Nav }}
<div class="navbar">
  <div class="navbar-inner">
    {{#linkTo "root" classNames="brand"}}Ember.UI{{/linkTo}}
    <ul class="nav">
      <li>{{#linkTo "button"}}Button{{/linkTo}}</li>
    </ul>
  </div>
</div>

{{! Content }}
<div class="container">
  {{outlet}}
</div>
