<h1>Ember.UI.Button</h1>
<code>&#123;&#123;#button&#125;&#125;Click Me&#123;&#123;/button&#125;&#125;</code>
<p>&nbsp;

<p>
  A <code>&lt;button&gt;</code> element with added juice:
  <ul>
    <li>Visually styled with <a href="http://twitter.github.com/bootstrap/base-css.html#buttons">
        Bootstrap</a>
    <li>Eliminates the 300ms click delay introduced by touch devices (i.e. snappy as a native app on
        mobile)
  </ul>
</p>


<hr />
<h3>Actions</h3>
<div class="well">
  {{#button action="alert" target="controller" style="danger"}}Alert{{/button}}
</div>

<p>Use the <code>action</code> property to execute a method by that name.</p>
<pre>&#123;&#123;#button action="alert"&#125;&#125;Alert&#123;&#123;/button&#125;&#125;</pre>

<p>Use the <code>target</code> property to trigger the action method on a different object.</p>
<pre>&#123;&#123;#button action="calculateTax" target="App.utils"&#125;&#125;Update Amount&#123;&#123;/button&#125;&#125;</pre>


<hr />
<h3>Appearance</h3>

<h4>Styles</h4>
<div class="well">
  {{#button }}default{{/button}}
  {{#button style="primary"}}primary{{/button}}
  {{#button style="info"}}info{{/button}}
  {{#button style="success"}}success{{/button}}
  {{#button style="warning"}}warning{{/button}}
  {{#button style="danger"}}danger{{/button}}
</div>
<p>Use the <code>style</code> property to get a different look than the default button.</p>
<pre>&#123;&#123;#button style="primary"&#125;&#125;Submit&#123;&#123;/button&#125;&#125;</pre>
<br/>

<h4>Sizes</h4>
<div class="well">
  {{#button size="large"}}large{{/button}}
  {{#button }}default{{/button}}
  {{#button size="small"}}small{{/button}}
  {{#button size="mini"}}mini{{/button}}
</div>
<p>Use the <code>size</code> property to make the button bigger or smaller.</p>
<pre>&#123;&#123;#button size="large"&#125;&#125;Sign Up&#123;&#123;/button&#125;&#125;</pre>

<h5>Block</h5>
<div class="well">
  {{#button block="true"}}Block{{/button}}
</div>
<p>Set <code>block</code> to <code>true</code> to have the button's width match its parent's.</p>
<pre>&#123;&#123;#button block="true" style="danger" size="large"&#125;&#125;Logout&#123;&#123;/button&#125;&#125;</pre>
<br/>

<h4>Disabled</h4>
<div class="well">
  {{#button disabled="true" action="alert" target="controller"}}Can't click me{{/button}}
</div>
<p>Setting <code>disabled</code> to <code>true</code> both changes the appearance and prevents the
  button from being clicked.</p>
<pre>&#123;&#123;#button disabled="true" style="primary"&#125;&#125;Sign In&#123;&#123;/button&#125;&#125;</pre>
<br/>
