<h4>Button Styles</h4>
<div class="well">
  {{#button }}default{{/button}}
  {{#button style="primary"}}primary{{/button}}
  {{#button style="info"}}info{{/button}}
  {{#button style="success"}}success{{/button}}
  {{#button style="warning"}}warning{{/button}}
  {{#button style="danger"}}danger{{/button}}
</div>
