<div class="page-header">
  <h1>
    Ember.UI.Navbar
    <small>
      <strong>&#123;&#123;#navbar&#125;&#125;</strong>...<strong>&#123;&#123;/navbar&#125;&#125;</strong>
    </small>
  </h1>
</div>
<p>
  A navigation bar runs the full width of its parent and is usually fixed to the top.  The typical
  navigation bar has a "back" button on the left, a title in the center, and menu buttons on the
  right.  Although it may be used at the bottom to show additional context-sensitive buttons.
</p>


<hr />
<h3>Appearance</h3>

<h4>Top</h4>
<div class="well" style="padding:0; height:100px; background:#FFF">
  {{#navbar}}
    <span class="pull-left">{{#button}}Back{{/button}}</span>
    <span class="pull-right">{{#button}}Edit{{/button}}</span>
    <span class="brand center">Title</span>
  {{/navbar}}
  Content
</div>
<p>
  The most common pattern is a top navigation bar with an optional title, left-side, and right-side
  buttons.  In this scenario it is important to specify the left and right buttons before the
  centered brand title text.
</p>
<pre>&#123;&#123;#navbar&#125;&#125;
  &lt;span class="pull-left"&gt;&#123;&#123;#button&#125;&#125;Back&#123;&#123;/button&#125;&#125;&lt;/span&gt;
  &lt;span class="pull-right"&gt;&#123;&#123;#button&#125;&#125;Edit&#123;&#123;/button&#125;&#125;&lt;/span&gt;
  &lt;span class="brand center"&gt;Title&lt;/span&gt;
&#123;&#123;/navbar&#125;&#125;</pre>
<br/>
