<div class="page-header">
  <h1>
    Ember.UI.Navbar
    <small>
      <strong>&#123;&#123;#navbar&#125;&#125;</strong>...<strong>&#123;&#123;/navbar&#125;&#125;</strong>
    </small>
  </h1>
</div>
<p>
  A navigation bar runs the full width of its parent and is usually fixed to the top.  The typical
  navigation bar has a "back" button on the left, a title in the center, and menu buttons on the
  right.  Although it may be used at the bottom to show additional context-sensitive buttons.
</p>


<hr />
<h3>Appearance</h3>

<h4>Styles</h4>
<div class="well" style="padding:0; height:100px; background:#FFF">
  {{#navbar }}Title{{/navbar}}
</div>
<p>Use the <code>style</code> property to get a different look than the default button.</p>
<pre>&#123;&#123;#navbar style="primary"&#125;&#125;Title&#123;&#123;/navbar&#125;&#125;</pre>
<br/>


{{! TOP
  BACK BUTTON
BOTTOM (hide/appear)
 }}
