<div class="page-header">
  <h1>
    Ember.UI.Panel
    <small>
      <strong>&#123;&#123;#panel&#125;&#125;</strong>...<strong>&#123;&#123;/panel&#125;&#125;</strong>
    </small>
  </h1>
</div>
<p>
  Panels are containers for other views.  A panel is a column 100% the height of its
  parent.  Panels can slide under or over other content.  Applications are often composed of a
  number of panels: a menu panel on the left that others slide on top of, a main panel area for the
  content, and auxilary panels for lists, etc.
</p>


<hr />
<h3></h3>
<div class="well">
  {{#panel}}
    &nbsp;
  {{/panel}}
</div>

<p></p>
<pre>&#123;&#123;#panel&#125;&#125;
  ... Content goes here ...
&#123;&#123;/panel&#125;&#125;</pre>
