<div class="hero-unit">
  <h1>Ember.UI</h1>
  <p>Because you should be writing apps... not UI</p>
  <p>
    <a class="btn btn-primary btn-large" href="https://github.com/deanbrowne/ember-ui">
      <i class="icon-github icon-large"></i> &nbsp; View on GitHub
    </a>
  </p>
</div>

<p class="lead">
  <strong>Ember.UI</strong> is a <em>View</em> library for
  <a href="http://emberjs.com/">Ember.js</a>.
</p>
<p class="lead">
  It includes things like buttons, navigation, and responsive layout containers for you to use in
  your templates.  It is designed mobile-first and tested in
  <a href="http://phonegap.com/">PhoneGap</a>.  But it works anywhere
  <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> does.
</p>
