/*
  Ember.UI.Panel
*/

// Colors.
@import "compass_twitter_bootstrap/variables";

// http://compass-style.org/index/mixins/
@import "compass";
@import "compass/css3/box-shadow";           // @include box-shadow()
@import "compass/css3/transition";           // @include transition()


/*
  Configurable appearance.
*/

// Shadows to give the illusion of having higher/lower Z-indexes.  For example a panel that appears
// to be below its sibling and coming from the left would have a shadow like:
// box-shadow: inset -1px 0px 3px 0px rgba(0, 0, 0, 0.4);
$uiShadowHorizontalLength: 1px;
$uiShadowVerticalLength: 0px;
$uiShadowBlurRadius: 3px;
$uiShadowSpread: 0px;
$uiShadowColor: rgba(0, 0, 0, 0.4);

// Drop shadow inset to give the illusion of a revealed panel having a lower Z-index.
// TODO: Most awesome shadows ever
//$uiPanelRevealShadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
$uiPanelShadowBelow: inset -1px 0 3px rgba(0, 0, 0, 0.4);

// Drop shadow to give the illusion of a pushed panel having a higher Z-index.
$uiPanelShadowAbove: 1px 1px 3px rgba(0, 0, 0, 0.4);


/**
  Main CSS for a panel.
*/
.ui-panel {
  // Positioning.  Absolute positioning is better than fixed for a couple reasons.  Absolute is
  // required to have the parent clip the panel using overflow:hidden.  Second fixed positioning
  // still has a lot of quirks on mobile (especially Android's WebView).  The benefit of fixed
  // positioning is the panel content scrolls independently of the document.
  position: absolute;
  margin: 0;
  top: 0;
  height: 100%;

  // Appearance.
  background-color: $wellBackground;
}

.ui-panel-below-left {
  @include box-shadow(inset -$uiShadowHorizontalLength $uiShadowVerticalLength
                      $uiShadowBlurRadius $uiShadowSpread $uiShadowColor);
}

.ui-panel-below-right {
  @include box-shadow(inset $uiShadowHorizontalLength $uiShadowVerticalLength
                      $uiShadowBlurRadius $uiShadowSpread $uiShadowColor);
}

.ui-panel-above-left {
  @include box-shadow(-$uiShadowHorizontalLength $uiShadowVerticalLength
                      $uiShadowBlurRadius $uiShadowSpread $uiShadowColor);
}

.ui-panel-above-right {
  @include box-shadow($uiShadowHorizontalLength $uiShadowVerticalLength
                      $uiShadowBlurRadius $uiShadowSpread $uiShadowColor);
}
