/*
  Ember.UI.Panel
*/

// Colors.
@import "compass_twitter_bootstrap/variables";

// http://compass-style.org/index/mixins/
@import "compass";
@import "compass/css3/box-shadow";           // @include box-shadow()
@import "compass/css3/transition";           // @include transition()


// GPU animations on iOS.
@mixin hardware-accelerate-animations() {
  // iOS 6.0+  http://indiegamr.com/ios6-html-hardware-acceleration-changes-and-how-to-fix-them/
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}


/*
  Configurable appearance.
*/

// How long the slide animation takes.
$uiPanelAnimationDuration: 200ms;
$uiPanelAnimationTiming: ease;

// Drop shadow inset to give the illusion of a revealed panel having a lower Z-index.
$uiPanelRevealShadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);

// Drop shadow to give the illusion of a pushed panel having a higher Z-index.
$uiPanelPushShadow: 1px 1px 3px rgba(0, 0, 0, 0.4);


/**
  Main CSS for a panel.
*/
.ui-panel {
  // Size and positioning.
  position: fixed;  // Scroll independently of other panels
  top: 0;
  left: 0;
  margin: 0;
  min-height: 100%;

  // Avoid accidentally floating elements over panels.
  z-index: $zindexFixedNavbar + 1;

  // Appearance.
  background-color: $wellBackground;

  // Animations to slide panel.
  @include hardware-accelerate-animations();
  @include transition-duration($uiPanelAnimationDuration);
  @include transition-timing-function($uiPanelAnimationTiming);
  @include transition-property(transform);

  /**
    For panels with `depth` of "below".
  */
  .ui-panel-below {
    @include box-shadow($uiPanelRevealShadow);
  }

  /**
    For panels with `depth` of "above".
  */
  .ui-panel-above {
    @include box-shadow($uiPanelPushShadow);
  }
}
